/*
    Menyns länkfärg
*/
body {
  background: #EEEEEE;
}

.Menu_TopMenu a:link, .Menu_TopMenu a:visited, .Menu_TopMenu a {
  color: #fff;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;

}

.Menu_TopMenuActive:hover a:link, .Menu_TopMenuActive a:link, .Menu_TopMenuActive:hover a:visited, .Menu_TopMenuActive a:visited, .Menu_TopMenuActive:hover a, .Menu_TopMenuActive a, .Menu_TopMenu:hover a, .Menu_TopMenu a {
  color: #6DCCDE;
}

.Header_Menu a:hover, .Header_Menu a:link:hover, .Header_Menu a:visited:hover, .desktop a:hover, .desktop a:link:hover {
  color: #6DCCDE;
}

.Menu_TopMenus {
  width: 100%;
  padding-left: 50px;
}

/*
    Aktiva sidans menyfärg
*/
.Menu_TopMenuActive {
  background-color: rgba(0, 0, 0, 0);
  border-top: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0);
  height: inherit;
  line-height: inherit;
}

.Header {
  border-bottom: 1px solid rgba(0,0,0,0);
  height: 75px;
  line-height: 75px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.Header .Application_Title img {
  max-height: 50px;
  vertical-align: middle;
}


.Title_Section {
  padding: 105px 20px 30px 20px;
  box-shadow: none;
}

.Heading1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 4px;
}

.Filters_Wrapper {
  background: #fff;
  border-radius: 5px;
  line-height: inherit;
  padding: 20px 15px;
  position: relative;
}

/*
    Knappar
*/

a.ActionAdd, a.ActionAdd:link, a.ActionAdd:visited, a.ActionEdit, a.ActionEdit:link, a.ActionEdit:visited, a.ActionDelete, a.ActionDelete:link, a.ActionDelete:visited, a.ActionChange, a.ActionChange:link, a.ActionChange:visited {
  background-color: #9ACD75;
  border: 1px solid #9ACD75;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -2px 0 rgba(19, 24, 25, 0);
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  min-width: 80px;
  padding: 6px 30px;
  text-align: center;
  transition: background .3s;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.desktop a.ActionAdd:hover, .desktop a.ActionAdd:hover:visited, .desktop a.ActionAdd:link:hover, .desktop a.ActionEdit:hover, .desktop a.ActionEdit:link:hover, .desktop a.ActionEdit:link:visited, .desktop a.ActionDelete:hover, .desktop a.ActionDelete:hover:visited, .desktop a.ActionDelete:link:hover, .desktop a.ActionChange:hover, .desktop a.ActionChange:hover:visited, .desktop a.ActionChange:link:hover {
  background-color: #83b95c;
  border-color: #9ACD75;
  box-shadow: none;
  color: #fff;
  -webkit-filter: brightness(0.9);
  filter: brightness(1);
}

.Button.ButtonDefault, .Button.Is_Default {
  background-color: #6DCCDE;
  border-color: #6DCCDE;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -2px 0 rgba(19, 24, 25, 0);
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  min-width: 80px;
  padding: 5px 40px;
  text-align: center;
  transition: background .3s;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 100%;
}

.Button.Save {
  background-color: #9ACD75;
}

.Button.Save:hover {
  background-color: #83b95c;
}

.desktop .Button.ButtonDefault:hover, .Button.Button.Is_Default:hover {
  background-color: #4dc5db;
  border-color: #4dc5db;
  border: none;
  filter: brightness(1);
}

.Button, a.Button {
  background-color: #9CD7D2;
  border-color: #9CD7D2;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -2px 0 rgba(19, 24, 25, 0);
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  min-width: 80px;
  padding: 5px 40px;
  text-align: center;
  transition: background .3s;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 100%;
  font-size: 12px;
}

.desktop .Button:hover, .desktop a.Button:hover {
  background-color: #7eccc6;
  border: none;
  box-shadow: none;
  color: #fff;
}

.Button.Save:hover {
  background-color: #83b95c;
}

input.Button {
  height: 100%;
}

/*
    Inputs
*/

/*Disabled input*/

.Form textarea.ReadOnly[readonly="readonly"], .Form textarea.ReadOnly[disabled="disabled"], .Form select.ReadOnly[disabled="disabled"], .Form input.ReadOnly[readonly="readonly"], .Form input.ReadOnly[disabled="disabled"], .Form input[disabled="disabled"].ReadOnly:not(.Not_Valid), .Form input[readonly="readonly"].ReadOnly:not(.Not_Valid), .Form textarea[disabled="disabled"].ReadOnly:not(.Not_Valid), .Form textarea[readonly="readonly"].ReadOnly:not(.Not_Valid), .Form select[disabled="disabled"].ReadOnly:not(.Not_Valid), .Form select[readonly="readonly"].ReadOnly:not(.Not_Valid), textarea[disabled="disabled"], textarea[readonly="readonly"], select[disabled="disabled"], input[readonly="readonly"], input[disabled="disabled"] {
  background-color: rgba(232,232,232,0.83)!important;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .Form input.ReadOnly:not(.Not_Valid):not(.Checkbox), .Form textarea.ReadOnly:not(.Not_Valid) {
  background-color: rgba(243,243,243,0.57);
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  border: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 31px;
  height: 100%;
  padding: 7px 15px;
}

select, .Form select.ReadOnly:not(.Not_Valid) {
  background-color: rgba(243,243,243,0.57);
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  border: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 31px;
  height: 100%;
  padding: 2px 15px;
  background-position: right 5px center;
}

input[type="checkbox"] {
  background-color: rgba(243,243,243,0.57);
  border-color: #ccc;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  content: " ";
  display: inline-block;
  height: 21px;
  width: 21px;

}

input[type="checkbox"]:before {
  background-color: rgba(243,243,243,0.57);
  border-color: #ccc;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  box-shadow: none;
  content: " ";
  display: block;
  height: 21px;
  width: 21px;
}

input[type="checkbox"]:after {
  border: 3px solid #333;
  border-right: 0;
  border-top: 0;
  height: 5px;
  left: 30%;
  top: 30%;
  width: 9px;
}

.ButtonContainer {
  position: absolute;
  top: 30px;
  right: -5px;
}

.CheckboxContainer {
  padding-top: 4px;
}

.CheckboxContainerInner:first-child {
  padding-bottom: 10px;
}

.CheckboxLabel {
  vertical-align: 2px;
  padding-left: 3px;
}

.InputLabel {
  padding: 0 0 5px 2px;
}

.Form .TabLabel {
  color: #363636;
  padding: 10px 0;
}

.Form .InputLabel {
  color: #363636;
  font-weight: 200;
}

.Form .CheckboxLabel {
  color: #363636;
  vertical-align: 2px;
  margin-left: 0;
  padding-left: 3px;
}

.Columns > .Column .ColFirst {
  padding-left: 20px;
}

/*
    Tabeller
*/

.TableRecords {
  border: none;
  border-radius: 5px;
  box-shadow: none;
}

.TableRecords_Header {
  border-bottom: solid 1px #eee;
  color: #363636;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
}

a, a:link, a:visited, .EditableTable tr.RowControlGroup a {
  color: #6DCCDE;
  transition: color .3s;
}

.desktop td a:hover, .desktop td a:link:hover, .desktop td a:visited:hover {
  color: #333;
}

.TableRecords_OddLine {
  background-color: #FAFAFA;
  color: #363636;
}

.TableRecords_EvenLine {
  color: #363636;
}

/*
    Tabs
*/

.Tabs {
  border: none;
}

.SmallRightColumns > .Column.ColFirst {
  width: 70%;
}

.Tabs_body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

/* Inactive tab */
.Tabs__tab {
  background-color: #F5F5F5;
  border: none;
}

.Tabs__tab.active {
  border-top-color: #9ACD75;
  border-top-width: 2px;
}

.Form .TabLabel {
  cursor: pointer;
}

.Columns2 > .Column.ColLast {
  padding-left: 70px;
}

/*
Misc
*/

div.Counter_Message {
  color: #363636;
  padding-left: 5px;
}

span.text {
  padding-left: 2px;
}

/* contracts */
.SmallRightColumns > .Column.ColLast {
  width: 25%;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px 20px 20px 20px;
  margin-left: 20px;
}

.ContractHeading {
  padding-bottom: 10px;
}

/* Pagineringen */

a.ListNavigation_PageNumber:link, span.ListNavigation_CurrentPageNumber, span.ListNavigation_Ellipsis, a.ListNavigation_Previous:link, a.ListNavigation_Next:link {
  border: none;
  padding: 10px 15px;
  background-color: #9CD7D2;
  color: #fff;
  border-radius: 5px;
  transition: background-color .3s;
  height: 40px;
  line-height: 20px;
}

span.ListNavigation_CurrentPageNumber {
  background-color: #6DCCDE;
}

a.ListNavigation_Previous:link, a.ListNavigation_Next:link {
  background-color: #9ACD75;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a.ListNavigation_Previous:link:hover, a.ListNavigation_Next:link:hover {
  color: #fff;
  background-color: #83b95c;
}

.ListNavigation_Next:after, .ListNavigation_DisabledNext:after {
  content: '\f105';
  font-size: 16px;
}

.ListNavigation_Previous:before, .ListNavigation_DisabledPrevious:before {
  content: '\f104';
  font-size: 16px;
}

a.ListNavigation_PageNumber:link:hover, span.ListNavigation_CurrentPageNumber:hover, span.ListNavigation_Ellipsis:hover {
  color: #fff;
  background: #4dc5db;
}

